03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/EntityZReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityZService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityZService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_DeleteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_DeleteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_DeleteAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_DeleteAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_DeleteAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThis" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThisResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThis_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThis_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThis_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetSelectedThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedThese" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetSelectedThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetSelectedThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetSelectedThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetSelectedThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThese" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetAllExceptThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltered" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetFiltered_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetFiltered_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityZService_GetFiltered_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IEntityZService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/Create" message="tns:IEntityZService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/CreateResponse" message="tns:IEntityZService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/Update" message="tns:IEntityZService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/UpdateResponse" message="tns:IEntityZService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/Delete" message="tns:IEntityZService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/DeleteResponse" message="tns:IEntityZService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetAll" message="tns:IEntityZService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetAllResponse" message="tns:IEntityZService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetById" message="tns:IEntityZService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetByIdResponse" message="tns:IEntityZService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetPaged" message="tns:IEntityZService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetPagedResponse" message="tns:IEntityZService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/DeleteAll" message="tns:IEntityZService_DeleteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/DeleteAllResponse" message="tns:IEntityZService_DeleteAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteAllFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_DeleteAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_DeleteAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/DeleteAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_DeleteAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThis" message="tns:IEntityZService_GetAllExceptThis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThisResponse" message="tns:IEntityZService_GetAllExceptThis_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThisFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetAllExceptThis_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThisValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetAllExceptThis_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThisInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetAllExceptThis_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetSelectedThese" message="tns:IEntityZService_GetSelectedThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetSelectedTheseResponse" message="tns:IEntityZService_GetSelectedThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetSelectedTheseFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetSelectedThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetSelectedTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetSelectedThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetSelectedTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetSelectedThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptThese" message="tns:IEntityZService_GetAllExceptThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptTheseResponse" message="tns:IEntityZService_GetAllExceptThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptTheseFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetAllExceptThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetAllExceptThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetAllExceptTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetAllExceptThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityZService/GetFiltered" message="tns:IEntityZService_GetFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityZService/GetFilteredResponse" message="tns:IEntityZService_GetFiltered_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetFilteredFaultObjectFault" name="FaultObjectFault" message="tns:IEntityZService_GetFiltered_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetFilteredValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityZService_GetFiltered_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityZService/GetFilteredInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityZService_GetFiltered_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityZService" type="tns:IEntityZService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetAllExceptThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetSelectedThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetAllExceptThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <soap:operation soapAction="http://tempuri.org/IEntityZService/GetFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityZService">
    <wsdl:port name="BasicHttpBinding_IEntityZService" binding="tns:BasicHttpBinding_IEntityZService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityZService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>