03-GeneratedProjects/backup 2/Atento.Suite.Shared.Application.WcfClient/Service References/PersonaReference/Atento.Suite.Shared.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application.DataTransfer.Base" />
  <xs:complexType name="PersonaDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application.DataTransfer.Base" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="BooleanField" type="xs:boolean" />
          <xs:element minOccurs="0" name="ByteField" type="xs:unsignedByte" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DateTimeOffsetField" type="q2:DateTimeOffset" />
          <xs:element minOccurs="0" name="DatetimeField" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DecimalField" type="xs:decimal" />
          <xs:element minOccurs="0" name="DobleField" type="xs:double" />
          <xs:element minOccurs="0" name="FloatField" type="xs:float" />
          <xs:element minOccurs="0" name="GuidField" type="ser:guid" />
          <xs:element minOccurs="0" name="Int16Field" type="xs:short" />
          <xs:element minOccurs="0" name="Int32Field" type="xs:int" />
          <xs:element minOccurs="0" name="Int64Field" type="xs:long" />
          <xs:element minOccurs="0" name="IntField" type="xs:int" />
          <xs:element minOccurs="0" name="LongField" type="xs:long" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortField" type="xs:short" />
          <xs:element minOccurs="0" name="TimeSpanField" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonaDto" nillable="true" type="tns:PersonaDto" />
  <xs:complexType name="ArrayOfPersonaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaDto" nillable="true" type="tns:PersonaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaDto" nillable="true" type="tns:ArrayOfPersonaDto" />
</xs:schema>