03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/EntityMReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityMService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_DeleteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_DeleteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_DeleteAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_DeleteAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_DeleteAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThis" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThisResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThis_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThis_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThis_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetSelectedThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedThese" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetSelectedThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetSelectedThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetSelectedThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetSelectedThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThese" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetAllExceptThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltered" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetFiltered_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetFiltered_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IEntityMService_GetFiltered_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IEntityMService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/Create" message="tns:IEntityMService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/CreateResponse" message="tns:IEntityMService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/Update" message="tns:IEntityMService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/UpdateResponse" message="tns:IEntityMService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/Delete" message="tns:IEntityMService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/DeleteResponse" message="tns:IEntityMService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetAll" message="tns:IEntityMService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetAllResponse" message="tns:IEntityMService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetById" message="tns:IEntityMService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetByIdResponse" message="tns:IEntityMService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetPaged" message="tns:IEntityMService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetPagedResponse" message="tns:IEntityMService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/DeleteAll" message="tns:IEntityMService_DeleteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/DeleteAllResponse" message="tns:IEntityMService_DeleteAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteAllFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_DeleteAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_DeleteAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/DeleteAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_DeleteAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThis" message="tns:IEntityMService_GetAllExceptThis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThisResponse" message="tns:IEntityMService_GetAllExceptThis_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThisFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetAllExceptThis_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThisValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetAllExceptThis_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThisInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetAllExceptThis_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetSelectedThese" message="tns:IEntityMService_GetSelectedThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetSelectedTheseResponse" message="tns:IEntityMService_GetSelectedThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetSelectedTheseFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetSelectedThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetSelectedTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetSelectedThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetSelectedTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetSelectedThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptThese" message="tns:IEntityMService_GetAllExceptThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptTheseResponse" message="tns:IEntityMService_GetAllExceptThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptTheseFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetAllExceptThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetAllExceptThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetAllExceptTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetAllExceptThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityMService/GetFiltered" message="tns:IEntityMService_GetFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityMService/GetFilteredResponse" message="tns:IEntityMService_GetFiltered_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetFilteredFaultObjectFault" name="FaultObjectFault" message="tns:IEntityMService_GetFiltered_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetFilteredValidationExceptionFault" name="ValidationExceptionFault" message="tns:IEntityMService_GetFiltered_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityMService/GetFilteredInternalExceptionFault" name="InternalExceptionFault" message="tns:IEntityMService_GetFiltered_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityMService" type="tns:IEntityMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetAllExceptThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetSelectedThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetAllExceptThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <soap:operation soapAction="http://tempuri.org/IEntityMService/GetFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityMService">
    <wsdl:port name="BasicHttpBinding_IEntityMService" binding="tns:BasicHttpBinding_IEntityMService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/EntityMService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>