00-Examples/EF/WcfClient/Service References/EntityBServiceReference/EntityBWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8679/EntityBWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFApplication.Dtos" />
  <xs:complexType name="PagedElementsOfEntityBDtofnDw4gN_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedElementsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EntityBDto" Namespace="http://schemas.datacontract.org/2004/07/EFApplication.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFApplication.Dtos" minOccurs="0" name="Elements" nillable="true" type="q1:ArrayOfEntityBDto" />
      <xs:element minOccurs="0" name="TotalElements" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedElementsOfEntityBDtofnDw4gN_S" nillable="true" type="tns:PagedElementsOfEntityBDtofnDw4gN_S" />
</xs:schema>