03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/MNZReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="mNZDto" nillable="true" type="q1:MNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="CreateResult" nillable="true" type="q2:MNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="mNZ" nillable="true" type="q3:MNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="GetAllResult" nillable="true" type="q4:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Inflexion2.Application" minOccurs="0" name="specificationDto" nillable="true" type="q5:SpecificationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" minOccurs="0" name="GetPagedResult" nillable="true" type="q6:PagedElementsOfMNZDto6OStFhm_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="DeleteAllResult" nillable="true" type="q7:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExceptThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="mNZDto" nillable="true" type="q8:MNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExceptThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="GetAllExceptThisResult" nillable="true" type="q9:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExceptThese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="mNZs" nillable="true" type="q10:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExceptTheseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="GetAllExceptTheseResult" nillable="true" type="q11:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Inflexion2.Application" minOccurs="0" name="specificationDto" nillable="true" type="q12:SpecificationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" minOccurs="0" name="GetFilteredResult" nillable="true" type="q13:ArrayOfMNZDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>