03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/DepartmentReference/Needel.Common.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
  <xs:complexType name="DepartmentDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUserDto" />
          <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepartmentDto" nillable="true" type="tns:DepartmentDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="UserDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q2:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddressDto" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDto" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfAddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDto" nillable="true" type="tns:AddressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDto" nillable="true" type="tns:ArrayOfAddressDto" />
  <xs:complexType name="AddressDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q3:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
  <xs:complexType name="ArrayOfDepartmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDto" nillable="true" type="tns:DepartmentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDto" nillable="true" type="tns:ArrayOfDepartmentDto" />
</xs:schema>