03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/DepartmentReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Create" message="tns:IDepartmentService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/CreateResponse" message="tns:IDepartmentService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Update" message="tns:IDepartmentService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/UpdateResponse" message="tns:IDepartmentService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Delete" message="tns:IDepartmentService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/DeleteResponse" message="tns:IDepartmentService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetAll" message="tns:IDepartmentService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetAllResponse" message="tns:IDepartmentService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetById" message="tns:IDepartmentService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetByIdResponse" message="tns:IDepartmentService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetPaged" message="tns:IDepartmentService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetPagedResponse" message="tns:IDepartmentService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IDepartmentService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IDepartmentService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDepartmentService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IDepartmentService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartmentService" type="tns:IDepartmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="BasicHttpBinding_IDepartmentService" binding="tns:BasicHttpBinding_IDepartmentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/DepartmentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>