03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/GraphNodeReference/Needel.Common.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
  <xs:complexType name="GraphNodeDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="LeftNodes" nillable="true" type="tns:ArrayOfGraphNodeDto" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RightNodes" nillable="true" type="tns:ArrayOfGraphNodeDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GraphNodeDto" nillable="true" type="tns:GraphNodeDto" />
  <xs:complexType name="ArrayOfGraphNodeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphNodeDto" nillable="true" type="tns:GraphNodeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphNodeDto" nillable="true" type="tns:ArrayOfGraphNodeDto" />
</xs:schema>