03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/AppSettingReference/Needel.Common.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Domain.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
  <xs:complexType name="AppSettingDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Needel.Common.Domain.Data" minOccurs="0" name="AppSettingUsing" type="q2:AppSettingType" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppSettingDto" nillable="true" type="tns:AppSettingDto" />
  <xs:complexType name="ArrayOfAppSettingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppSettingDto" nillable="true" type="tns:AppSettingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppSettingDto" nillable="true" type="tns:ArrayOfAppSettingDto" />
</xs:schema>