03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/AppSettingReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Domain.Data" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppSettingService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_DeleteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_DeleteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_DeleteAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_DeleteAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_DeleteAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThis" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThisResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThis_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThis_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThis_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetSelectedThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedThese" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetSelectedThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetSelectedThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetSelectedThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetSelectedThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThese" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetAllExceptThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltered" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetFiltered_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetFiltered_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAppSettingService_GetFiltered_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IAppSettingService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/Create" message="tns:IAppSettingService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/CreateResponse" message="tns:IAppSettingService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/Update" message="tns:IAppSettingService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/UpdateResponse" message="tns:IAppSettingService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/Delete" message="tns:IAppSettingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/DeleteResponse" message="tns:IAppSettingService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetAll" message="tns:IAppSettingService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetAllResponse" message="tns:IAppSettingService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetById" message="tns:IAppSettingService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetByIdResponse" message="tns:IAppSettingService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetPaged" message="tns:IAppSettingService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetPagedResponse" message="tns:IAppSettingService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/DeleteAll" message="tns:IAppSettingService_DeleteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/DeleteAllResponse" message="tns:IAppSettingService_DeleteAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteAllFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_DeleteAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_DeleteAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/DeleteAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_DeleteAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThis" message="tns:IAppSettingService_GetAllExceptThis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThisResponse" message="tns:IAppSettingService_GetAllExceptThis_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThisFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetAllExceptThis_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThisValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetAllExceptThis_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThisInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetAllExceptThis_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetSelectedThese" message="tns:IAppSettingService_GetSelectedThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetSelectedTheseResponse" message="tns:IAppSettingService_GetSelectedThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetSelectedTheseFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetSelectedThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetSelectedTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetSelectedThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetSelectedTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetSelectedThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptThese" message="tns:IAppSettingService_GetAllExceptThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptTheseResponse" message="tns:IAppSettingService_GetAllExceptThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptTheseFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetAllExceptThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetAllExceptThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetAllExceptTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetAllExceptThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppSettingService/GetFiltered" message="tns:IAppSettingService_GetFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppSettingService/GetFilteredResponse" message="tns:IAppSettingService_GetFiltered_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetFilteredFaultObjectFault" name="FaultObjectFault" message="tns:IAppSettingService_GetFiltered_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetFilteredValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAppSettingService_GetFiltered_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppSettingService/GetFilteredInternalExceptionFault" name="InternalExceptionFault" message="tns:IAppSettingService_GetFiltered_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppSettingService" type="tns:IAppSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetAllExceptThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetSelectedThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetAllExceptThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <soap:operation soapAction="http://tempuri.org/IAppSettingService/GetFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppSettingService">
    <wsdl:port name="BasicHttpBinding_IAppSettingService" binding="tns:BasicHttpBinding_IAppSettingService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AppSettingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>