03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/ComponentReference/Needel.Common.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
  <xs:complexType name="ComponentDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfComponentDto" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:ComponentDto" />
          <xs:element minOccurs="0" name="PartNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComponentDto" nillable="true" type="tns:ComponentDto" />
  <xs:complexType name="ArrayOfComponentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentDto" nillable="true" type="tns:ComponentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentDto" nillable="true" type="tns:ArrayOfComponentDto" />
</xs:schema>