03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/ComponentReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComponentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComponentService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_DeleteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="IComponentService_DeleteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_DeleteAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_DeleteAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_DeleteAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThis" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThisResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThis_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThis_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThis_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptIdAndChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptIdAndChildren" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptIdAndChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptIdAndChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptIdAndChildren_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptIdAndChildren_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptIdAndChildren_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetSelectedThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedThese" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetSelectedThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectedTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetSelectedThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetSelectedThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetSelectedThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThese_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptThese" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThese_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExceptTheseResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThese_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThese_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetAllExceptThese_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltered" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetFiltered_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetFiltered_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IComponentService_GetFiltered_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IComponentService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/Create" message="tns:IComponentService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/CreateResponse" message="tns:IComponentService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/Update" message="tns:IComponentService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/UpdateResponse" message="tns:IComponentService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/Delete" message="tns:IComponentService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/DeleteResponse" message="tns:IComponentService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetAll" message="tns:IComponentService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetAllResponse" message="tns:IComponentService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetById" message="tns:IComponentService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetByIdResponse" message="tns:IComponentService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetPaged" message="tns:IComponentService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetPagedResponse" message="tns:IComponentService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/DeleteAll" message="tns:IComponentService_DeleteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/DeleteAllResponse" message="tns:IComponentService_DeleteAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteAllFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_DeleteAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_DeleteAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/DeleteAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_DeleteAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThis" message="tns:IComponentService_GetAllExceptThis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThisResponse" message="tns:IComponentService_GetAllExceptThis_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThisFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetAllExceptThis_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThisValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetAllExceptThis_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThisInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetAllExceptThis_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptIdAndChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptIdAndChildren" message="tns:IComponentService_GetAllExceptIdAndChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptIdAndChildrenResponse" message="tns:IComponentService_GetAllExceptIdAndChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptIdAndChildrenFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetAllExceptIdAndChildren_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptIdAndChildrenValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetAllExceptIdAndChildren_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptIdAndChildrenInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetAllExceptIdAndChildren_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetSelectedThese" message="tns:IComponentService_GetSelectedThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetSelectedTheseResponse" message="tns:IComponentService_GetSelectedThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetSelectedTheseFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetSelectedThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetSelectedTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetSelectedThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetSelectedTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetSelectedThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptThese" message="tns:IComponentService_GetAllExceptThese_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptTheseResponse" message="tns:IComponentService_GetAllExceptThese_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptTheseFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetAllExceptThese_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptTheseValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetAllExceptThese_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetAllExceptTheseInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetAllExceptThese_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/IComponentService/GetFiltered" message="tns:IComponentService_GetFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComponentService/GetFilteredResponse" message="tns:IComponentService_GetFiltered_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetFilteredFaultObjectFault" name="FaultObjectFault" message="tns:IComponentService_GetFiltered_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetFilteredValidationExceptionFault" name="ValidationExceptionFault" message="tns:IComponentService_GetFiltered_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IComponentService/GetFilteredInternalExceptionFault" name="InternalExceptionFault" message="tns:IComponentService_GetFiltered_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComponentService" type="tns:IComponentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IComponentService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IComponentService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IComponentService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://tempuri.org/IComponentService/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThis">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetAllExceptThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptIdAndChildren">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetAllExceptIdAndChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedThese">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetSelectedThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllExceptThese">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetAllExceptThese" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFiltered">
      <soap:operation soapAction="http://tempuri.org/IComponentService/GetFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComponentService">
    <wsdl:port name="BasicHttpBinding_IComponentService" binding="tns:BasicHttpBinding_IComponentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/ComponentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>