03-GeneratedProjects/Needel.Common.Application.WcfClient/Service References/AddressReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Needel.Common.Application.Dtos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Create_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Create_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Create_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Update_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Update_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Update_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Delete_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Delete_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_Delete_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAll_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAll_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAll_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetById_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetById_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetById_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetPaged_FaultObjectFault_FaultMessage">
    <wsdl:part name="detail" element="FaultObject" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetPaged_ValidationExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetPaged_InternalExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="InternalException" />
  </wsdl:message>
  <wsdl:portType name="IAddressService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/Create" message="tns:IAddressService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/CreateResponse" message="tns:IAddressService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/CreateFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_Create_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/CreateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_Create_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/CreateInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_Create_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/Update" message="tns:IAddressService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/UpdateResponse" message="tns:IAddressService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/UpdateFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_Update_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/UpdateValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_Update_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/UpdateInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_Update_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/Delete" message="tns:IAddressService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/DeleteResponse" message="tns:IAddressService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/DeleteFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_Delete_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/DeleteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_Delete_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/DeleteInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_Delete_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetAll" message="tns:IAddressService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetAllResponse" message="tns:IAddressService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetAllFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_GetAll_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetAllValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_GetAll_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetAllInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_GetAll_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetById" message="tns:IAddressService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetByIdResponse" message="tns:IAddressService_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetByIdFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_GetById_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetByIdValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_GetById_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetByIdInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_GetById_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetPaged" message="tns:IAddressService_GetPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetPagedResponse" message="tns:IAddressService_GetPaged_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetPagedFaultObjectFault" name="FaultObjectFault" message="tns:IAddressService_GetPaged_FaultObjectFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetPagedValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAddressService_GetPaged_ValidationExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAddressService/GetPagedInternalExceptionFault" name="InternalExceptionFault" message="tns:IAddressService_GetPaged_InternalExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressService" type="tns:IAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IAddressService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IAddressService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAddressService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultObjectFault">
        <soap:fault use="literal" name="FaultObjectFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalExceptionFault">
        <soap:fault use="literal" name="InternalExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="BasicHttpBinding_IAddressService" binding="tns:BasicHttpBinding_IAddressService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Needel.Common.Application.WcfService/AddressService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>