03-GeneratedProjects/Atento.Suite.Shared.Application.WcfClient/Service References/CategoriaReference/Atento.Suite.Shared.Application.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Application.DataTransfer.Base" />
  <xs:complexType name="CategoriaDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Inflexion2.Application.DataTransfer.Base" base="q1:BaseEntityDataTransferObjectOfint">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoriaDto" nillable="true" type="tns:CategoriaDto" />
  <xs:complexType name="ArrayOfCategoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDto" nillable="true" type="tns:CategoriaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDto" nillable="true" type="tns:ArrayOfCategoriaDto" />
</xs:schema>