03-GeneratedProjects/Atento.Suite.Shared.Application.WcfClient/Service References/CategoriaReference/Inflexion2.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" />
  <xs:complexType name="PagedElementsOfCategoriaDto2J3PpTFv">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedElementsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Inflexion2.Domain" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CategoriaDto" Namespace="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atento.Suite.Shared.Application.Dtos" minOccurs="0" name="Elements" nillable="true" type="q1:ArrayOfCategoriaDto" />
      <xs:element minOccurs="0" name="TotalElements" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedElementsOfCategoriaDto2J3PpTFv" nillable="true" type="tns:PagedElementsOfCategoriaDto2J3PpTFv" />
</xs:schema>